@import "tailwindcss";

@utility brand-gradient {
  background: linear-gradient(to right, #f97316, #d91b70, #8b5cf6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@utility brand-gradient-bg {
  background: linear-gradient(to right, #f97316, #d91b70, #8b5cf6);
}